<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="../../js/directory-filters.js"></script>

<link rel='stylesheet' id='dashicons-css'  href='https://commons.gc.cuny.edu/wp-includes/css/dashicons.min.css?ver=5.5.3-1.18.6' type='text/css' media='all' />

<form class="directory-filter-form" method="get" action="{{ directoryUrl }}">
<div class="filter-container {{ directoryObject }}-directory-filters">
	{{> organisms-directory-tabs }}

	{{> organisms-directory-filters-inputs }}
</div>
</form>
