<div class="directory-filters-inputs">
	<div class="directory-filter directory-filter-type-text">
		<input class="directory-filter-input" type="text" placeholder="Enter keyword" name="filters[keyword]" id="directory-filter-keyword" value="">
	</div>

	{{> molecules-directory-filter-dropdown-campus }}

	{{> molecules-directory-filter-dropdown-purpose }}

	<div class="directory-filter-actions">
		<button class="directory-filter-submit" type="submit" disabled="disabled">Filter</button>
		<button class="directory-filter-reset" type="button" disabled="disabled">Reset</button>
	</div>
</div>
